* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F3F3;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* MAIN */
.main {
    display: flex;
    width: 100%;
    height: 800px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #030303;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
}

.main__left {
    max-width: calc(100% / 7 * 3);
    width: 100%;
    height: 100%;
    background: url("../images/background.jpeg") no-repeat center 100%;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.main__left-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: 100%;
    color: #FFFFFF;
}

.main__left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main__left-clock {
    margin-bottom: 7px;
}

.main__left-clock,
.main__left-heart {
    position: relative;
    padding-right: 25px;
}

.main__left-clock::after,
.main__left-heart::after {
    position: absolute;
    top: 2px;
    right: 0;
    content: "";
    width: 1rem;
    height: 1rem;
}

.main__left-clock::after {
    background-image: url("../images/clock.svg");
}

.main__left-heart::after {
    background-image: url("../images/heart.svg");
}

.main__left .main__left-title {
    position: relative;
    margin-bottom: 30px;
}

.main__left .main__left-title:after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.main__right {
    max-width: calc(100% / 7 * 4);
    width: 100%;
    height: 100%;
}

.main__right-inner {
    padding: 50px;
    height: 100%;
}

/* MONTHS */

.months {
    width: 100%;
    padding: 0 30px 20px 30px;
    border-bottom: 1px solid #FFFFFF;
}

.months__title {
    margin-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
}

.months__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.months__list {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    color: #FFFFFF;
}

.months__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 2.5px 15px;
    border-bottom: 1px solid #030303;

}

.months__list-item.active {
    border-bottom: 1px solid red;
    color: red;
}

.months__list-day-of-week {
    font-size: .5em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.months__list-day {
    font-size: 2em;
}

.months__btn {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.months__btn img {
    width: 100%;
}

.months__btn.left {
    transform: rotate(90deg);
}

.months__btn.right {
    transform: rotate(-90deg);
}

/*!* SCREEN *!*/
/*.cinema .cinema__screen {*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*}*/

/*.cinema .cinema__screen-img {*/
/*    width: 100%;*/
/*}*/

/*.cinema .cinema__screen-title {*/
/*    margin: 30px auto 0 auto;*/
/*    color: #000000;*/
/*}*/

/*!* HALL *!*/
/*.cinema .cinema__hall {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(13, 1fr);*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    grid-column-gap: .5em;*/
/*    grid-row-gap: 1em;*/
/*    max-width: 500px;*/
/*    margin: 60px auto;*/
/*}*/

/*.cinema .seat-checkbox {*/
/*    display: none;*/
/*}*/

/*.cinema .seat-checkbox:checked + .seat {*/
/*    border: 1px solid #FFCD24;*/
/*    background-color: #FFCD24;*/
/*}*/

/*.cinema .seat {*/
/*    cursor: pointer;*/
/*    height: 1em;*/
/*    width: 1em;*/
/*    border-radius: 50%;*/
/*    border: 1px solid #72D9EA;*/
/*    background-color: #72D9EA;*/
/*}*/

/*.cinema .seat:hover {*/
/*    border: 1px solid #53B0D1;*/
/*    background-color: #53B0D1;*/
/*}*/

/*.cinema__hall-number {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*!* TEMP *!*/
/*.cinema .seat.reserved {*/
/*    cursor: auto;*/
/*    border: 1px solid #90a4ae;*/
/*    background-color: #90a4ae;*/
/*}*/

/*.cinema .seat.reserved:hover {*/
/*    border: 1px solid #90a4ae;*/
/*    background-color: #90a4ae;*/
/*}*/

/*!* PRICE *!*/
/*.cinema__price {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*    max-width: 175px;*/
/*}*/

/*.cinema__price .cinema__price-standard,*/
/*.cinema__price .cinema__price-vip {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.cinema__price span {*/
/*    padding-left: 10px;*/
/*}*/

/*.cinema__price .cinema__price-standard div {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background-color: #72D9EA;*/
/*    border-radius: 5px;*/
/*}*/

/*.cinema__price .cinema__price-vip div {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background-color: #F64C72;*/
/*    border-radius: 5px;*/
/*}*/